{% extends 'layout.jinja' %}
{% block header %}
<li class="breadcrumb-item active" aria-current="page">
  Преподавательская
</li>
{% endblock %}

{% block main %}
<div class="row">
  {% if groups is not none and exam %}
  <div class="col-12 mb-3">
    <b class="card-title d-block">Управление группами</b>
    <form action="/teacher/group/select" method="GET" class="w-100">
      <select class="form-select mb-2" name="group">
        {% for group in groups %}
        <option value="{{ group.id }}">
          {{ group.title }}
        </option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-outline-primary w-100 d-block">
        Далее
      </button>
    </form>
  </div>
  {% endif %}
  {% if exam %}
  <div class="col-12 mb-3">
    <b class="card-title d-block">Действия с выбранными группами</b>
    <form action="/teacher/exam/start/many" method="POST" class="w-100">
      <select name="groups" class="form-select mb-2" size="5" multiple>
        {% for group in groups %}
          <option value="{{ group.id }}">
            {{ group.title }}
          </option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-outline-primary w-100 d-block mb-2">
        Начать зачёт у выбранных групп
      </button>
    </form>
    <b class="card-title d-block">Действия со всеми группами</b>
    <form action="/teacher/exam/start" method="GET" class="w-100">
      <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">
        Начать зачёт у всех групп
      </button>
    </form>
    <form action="/teacher/exam/end" method="GET" class="w-100">
      <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">
        Завершить зачёт у всех групп
      </button>
    </form>
    {% if clearable %}
    <form action="/teacher/exam/delete" method="GET" class="w-100">
      <button class="btn btn-outline-danger w-100 mb-2 d-block" type="submit">
        Очистить таблицы всех групп
      </button>
    </form>
    {% endif %}
  </div>
  <div class="col-12 mb-3">
    <b class="card-title d-block">Разрешённые IP-адреса</b>
    <p>Оставьте список пустым, чтобы разрешить отправку решений с любого IP-адреса.</p>
    <div class="row">
      {% for ip in ips %}
        <div class="col-md-7 mb-2">
          <input class="form-control" type="text" value="{{ ip.ip }}" readonly>
        </div>
        <div class="col-md-3 mb-2">
          <input class="form-control" type="text" value="{{ ip.label }}" readonly>
        </div>
        <div class="col-md-2 mb-2">
          <form action="/teacher/ips/disallow/{{ ip.id }}" method="GET">
            <button type="submit" class="btn btn-danger w-100">
              Удалить
            </button>
          </form>
        </div>
      {% endfor %}
    </div>
    <form class="row" action="/teacher/ips/allow" method="GET">
      <div class="col-md-7 mb-2">
        <input class="form-control" type="text" placeholder="IP-адрес" name="ip">
      </div>
      <div class="col-md-3 mb-2">
        <input class="form-control" type="text" placeholder="Пометка" name="label">
      </div>
      <div class="col-md-2 mb-2">
        <button type="submit" class="btn btn-primary w-100">
          Добавить
        </button>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="col-12 mb-3">
    <b class="card-title d-block">Выгрузка всех присланных сообщений</b>
    <form action="/teacher/messages" method="GET" class="w-100">
      <select class="form-select mb-2" name="separator">
        <option value=";">Точка с запятой</option>
        <option value=",">Запятая</option>
      </select>
      <select class="form-select mb-2" name="count">
        <option value="10">10 сообщений</option>
        <option value="100">100 сообщений</option>
        <option value="500">500 сообщений</option>
        <option value="1000">1000 сообщений</option>
      </select>
      <button type="submit" class="btn btn-outline-primary w-100 d-block">
        Выгрузить статистику
      </button>
    </form>
  </div>
  <div class="col-12 mb-3">
    <b class="card-title d-block">Просмотр решений</b>
    <form action="/teacher/submissions" method="GET" class="w-100">
      <select class="form-select mb-2" name="gid">
        {% for g in glist %}
        <option value="{{ g.id }}">Группа {{ g.title }}</option>
        {% endfor %}
      </select>
      <select class="form-select mb-2" name="vid">
        {% for v in vlist %}
        <option value="{{ v.id }}">Вариант №{{ v.id + 1 }}</option>
        {% endfor %}
      </select>
      <select class="form-select mb-2" name="tid">
        {% for t in tlist %}
        <option value="{{ t.id }}">Задание №{{ t.id + 1 }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-outline-primary w-100 d-block">
        Перейти к решениям
      </button>
    </form>
  </div>
  <div class="col-12 mb-3">
    <b class="card-title d-block">Управление аккаунтом студента</b>
    <form action="/teacher/student" method="GET" class="w-100">
      <div class="row">
        <div class="col-md-8">
          <input class="form-control" type="email" name="email" placeholder="Email пользователя" />
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-outline-primary w-100 d-block">
            Открыть аккаунт
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}