{% extends 'layout.jinja' %}
{% block header %}
<li class="breadcrumb-item">
  <a class="text-decoration-none" href="/teacher">
    Преподавательская
  </a>
</li>
<li class="breadcrumb-item">
  <a class="text-decoration-none" href="/teacher/group/{{ group.id }}/exam">
    {{ group.title }}
  </a>
</li>
<li class="breadcrumb-item active">
  Зачёт
</li>
{% endblock %}

{% block main %}
{% if seed == None %}
<h6 class="d-block fw-bold">Зачёт ещё не начат</h6>
<form action="/teacher/group/{{ group.id }}/exam/toggle" method="GET" class="w-100">
  <label class="mx-auto mb-2 breadcrumb-item active d-block">
    Зачёт для группы {{ group.title }} ещё не начат, студенты не могут отправлять решения.
  </label>
  <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Начать</button>
</form>
{% elif seed.active == false %}
<h6 class="d-block fw-bold">Зачёт завершён</h6>
<div class="mx-auto mb-2 breadcrumb-item active d-block">
  Студенты группы {{ group.title }} больше не могут отправлять решения.
</div>
<h6 class="d-block mt-3">Выгрузка результатов</h6>
<form action="/teacher/group/{{ group.id }}/exam/csv" method="GET" class="w-100">
  <label class="mx-auto mb-2 breadcrumb-item active d-block">Разделитель CSV</label>
  <select class="form-select mb-2" name="delimiter">
    <option value="semicolon">Точка с запятой</option>
    <option value="comma">Запятая</option>
  </select>
  <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Получить результаты</button>
</form>
<h6 class="d-block mt-3">Продолжить зачёт</h6>
<div class="mx-auto mb-2 breadcrumb-item active d-block">
  После продолжения зачёта студенты вновь смогут отправлять решения.
</div>
<form action="/teacher/group/{{ group.id }}/exam/toggle" method="GET" class="w-100">
  <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Продолжить зачёт</button>
</form>
{% else %}
<h6 class="d-block fw-bold">Зачёт начат</h6>
<form action="/teacher/group/{{ group.id }}/exam/toggle" method="GET" class="w-100">
  <label class="mx-auto mb-2 breadcrumb-item active d-block">
    Зачёт для группы {{ group.title }} начат, студенты могут отправлять решения.
  </label>
  <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Завершить</button>
</form>
<h6 class="d-block fw-bold mt-3">Выгрузка промежуточных результатов</h6>
<form action="/teacher/group/{{ group.id }}/exam/csv" method="GET" class="w-100">
  <label class="mx-auto mb-2 breadcrumb-item active d-block">Разделитель CSV</label>
  <select class="form-select mb-2" name="delimiter">
    <option value="semicolon">Точка с запятой</option>
    <option value="comma">Запятая</option>
  </select>
  <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Получить результаты</button>
</form>
{% endif %}
{% if (seed == None or seed.active == false) and clearable_database %}
<form action="/teacher/group/{{ group.id }}/exam/delete" method="GET" class="w-100">
  <button class="btn btn-outline-danger w-100 d-block" type="submit">Очистить таблицу</button>
</form>
{% endif %}
{% if seed != None %}
<h6 class="d-block fw-bold mt-3">Дополнительные действия</h6>
<a class="btn btn-outline-primary w-100 d-block" href="/group/{{ group.id }}">
  Перейти к таблице группы
</a>
{% endif %}
<form action="/teacher/group/{{ group.id }}/rename" method="GET" class="w-100">
  <label class="mx-auto fw-bold mt-2 mb-2 d-block">
    Видимое название группы {{ group.external or group.title }}
  </label>
  <input
    name="title"
    type="text"
    class="form-control mb-2"
    placeholder="Видимое название группы"
    value="{{ group.title }}">
  <label class="mx-auto fw-bold mt-2 mb-2 d-block">
    Фактическое название группы {{ group.external or group.title }}
  </label>
  <input
    name="external"
    type="text"
    class="form-control mb-2"
    placeholder="Фактическое название группы"
    value="{{ group.external or '' }}">
  <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">
    Сохранить
  </button>
</form>
{% endblock %}