{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <a class="logo-container text-decoration-none" href="/admin/login">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Преподавательская
      </li>
    </ol>
  </div>
</nav>
<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-md-9 col-lg-6">
      <div class="card">
        <form class="card-body" action="/admin/login" method="POST">
          <b class="card-title d-block">Авторизация</b>
          <div class="form-group mb-2">
            <label>Имя пользователя</label>
            <input name="login" type="text" class="form-control"
                  placeholder="Имя пользователя"
                  value="{{ form.login.data if form.login.data }}">
            <small class="form-text text-muted">Введите имя пользователя.</small>
          </div>
          {% if form.login.errors %}
            <small class="d-block alert alert-danger">
              {% for error in form.login.errors %}
                <div>{{ error }}</div>
              {% endfor %}
            </small>
          {% endif %}
          <div class="form-group mb-2">
            <label>Пароль</label>
            <input name="password" type="password" class="form-control" placeholder="Пароль">
            <small class="form-text text-muted">Введите пароль.</small>
          </div>
          {% if form.password.errors %}
            <small class="d-block alert alert-danger">
              {% for error in form.password.errors %}
                <div>{{ error }}</div>
              {% endfor %}
            </small>
          {% endif %}
          {{ form.csrf_token }}
          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary w-100 d-block">
                Войти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
