{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <a class="logo-container text-decoration-none" href="/teacher">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/teacher">
          Преподавательская
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/teacher/group/{{ group.id }}">
          {{ group.title }}
        </a>
      </li>
      <li class="breadcrumb-item active">
        Очередь сообщений
      </li>
    </ol>
    <a class="breadcrumb-item text-decoration-none" href="/teacher/logout">
      Выйти
    </a>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    {% if message is not none %}
    <div class="col-12 col-md-8">
      <textarea
          type="text"
          class="form-control"
          disabled
          placeholder="Ответ на задание"
          style="min-height: 550px;font-family: monospace, monospace;">{{ message.code }}</textarea>
    </div>
    <div class="col-12 col-md-4">
      <form action="/teacher/group/{{ group.id }}/queue/{{ message.id }}/accept" method="GET" class="w-100">
        <button class="btn btn-outline-success d-block mb-2 w-100" type="submit">
          Принять
        </button>
      </form>
      <form action="/teacher/group/{{ group.id }}/queue/{{ message.id }}/reject" method="GET" class="w-100">
        <button class="btn btn-outline-danger d-block mb-2 w-100" type="submit">
          Отклонить
        </button>
        <textarea
            type="text"
            class="form-control mb-3"
            name="comment"
            placeholder="Причина отклонения"
            style="min-height: 100px;font-family: monospace, monospace;"></textarea>
      </form>
      <div class="mb-2">
        <b class="card-title d-block">Сведения о сообщении</b>
        <div>Группа: {{ group.title }}</div>
        <div>Вариант: {{ message.variant + 1 }}</div>
        <div>Задача: {{ message.task + 1 }}</div>
        <div>Прислано: {{ message.time }}</div>
      </div>
    </div>
    {% else %}
    <div class="col-12">
      Новых сообщений нет
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}