[tool.poetry]
name = "app"
version = "0.1.0"
description = "DTA web app."
authors = ["Artyom <worldbeater-dev@yandex.ru> and Contributors"]

[tool.poetry.dependencies]
python = "^3.10"
Flask = "2.0.2"
Jinja2 = "3.0.3"
SQLAlchemy = "1.4.29"
Flask-WTF = "1.0.0"
alembic = "1.7.5"
radon = "5.1.0"
waitress = "2.0.0"
pycodestyle = "2.8.0"

[tool.poetry.dev-dependencies]
beautifulsoup4 = "4.10.0"
isort = "5.9.3"
pytest = "7.0.1"
pytest-cov = "3.0.0"
pytest-alembic = "0.7.0"
Pillow = "9.1.0"
pylint = "^2.13.7"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
line_length = "79"
multi_line_output = "3"
lines_after_imports = "2"
include_trailing_comma = "false"
use_parentheses = "true"
skip = [
    ".git",
    "webapp/alembic/versions"
]
skip_glob = [
    ".venv",
    "venv*"
]
default_section = "THIRDPARTY"
src_paths = "webapp"
known_flask = "flask"
sections = [
    "FUTURE",
    "STDLIB",
    "THIRDPARTY",
    "FLASK",
    "FIRSTPARTY",
    "LOCALFOLDER"
]

[tool.pytest.ini_options]
addopts = "--cov=webapp --cov-report xml"
testpaths = [
    "tests"
]
filterwarnings = [
    "default",
    "error"
]
log_cli="true"
log_level="NOTSET"
