[tool.poetry]
name = "app"
version = "0.1.0"
description = "DTA web app."
authors = ["Artyom <worldbeater-dev@yandex.ru> and Contributors"]

[tool.poetry.dependencies]
python = "3.10"
Flask = "2.0.2"
Jinja2 = "3.0.3"
SQLAlchemy = "1.4.29"
Flask-WTF = "1.0.0"
alembic = "1.7.5"
psycopg2-binary = "2.9.3"
radon = "5.1.0"
waitress = "2.0.0"
pyproject-flake8 = "0.0.1-alpha.2"

[tool.poetry.dev-dependencies]
beautifulsoup4 = "4.10.0"
pre-commit = "2.15.0"
isort = "5.9.3"
editorconfig-checker = "2.3.54"
pep8-naming = "0.12.1"
flake8 = "3.9.2"
flake8-flask = "0.9.3"
flake8-commas = "2.0.0"
flake8-docstrings = "1.6.0"
flake8-multiline-containers = "0.0.18"
flake8-polyfill = "1.0.2"
flake8-quotes = "3.3.0"
flake8-variables-names = "0.0.4"
pytest = "7.0.1"
pytest-cov = "3.0.0"
pytest-flask = "1.2.0"
pytest-alembic = "0.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
line_length = "120"
multi_line_output = "5"
lines_after_imports = "2"
include_trailing_comma = "true"
use_parentheses = "true"
skip = [
    ".git",
    "webapp/alembic/versions"
]
skip_glob = [
    ".venv",
    "venv*"
]
default_section = "THIRDPARTY"
src_paths = "webapp"
known_flask = "flask"
sections = [
    "FUTURE",
    "STDLIB",
    "THIRDPARTY",
    "FLASK",
    "FIRSTPARTY",
    "LOCALFOLDER"
]

[tool.pytest.ini_options]
addopts = "--cov=webapp --cov-report xml"
testpaths = [
    "tests"
]
filterwarnings = [
    "default",
    "error"
]

[tool.flake8]
max-line-length = "120"
show-source = "true"
statistics = "true"
inline-quotes = "double"
ignore = """
    W504,
    D100,D101,D102,D103,D104,D105,D106,D107,
    D401
"""
exclude = """
    .venv,
    venv*,
    .git,
    */alembic/versions*
    *__pycache__*
"""
per-file-ignores = """
    */models.py:VNE003
"""
