{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <div class="logo-container">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </div>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Цифровой ассистент преподавателя
      </li>
    </ol>
  </div>
</nav>
<div class="container mt-3">
  <h5 class="card-title fw-bold">Перечень групп</h5>
  <h6 class="card-subtitle mb-2 text-muted">
    Нажмите на группу, чтобы перейти к вариантам заданий группы.
  </h6>
  <div>
    {% for key, grouping in groupings.items() %}
      <div>
        <small class="mb-2 text-muted d-block">
          <span>{{ key }}</span>
        </small>
        {% for group in grouping %}
          <a class="btn btn-outline-primary mb-2 mr-3" href="/group/{{ group.id }}">
            {{ group.title }}
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
