{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <div class="logo-container">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </div>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Зачёт
      </li>
    </ol>
  </div>
</nav>
<div class="d-flex flex-row container mt-3">
  <form action="/exams/{{token}}" method="post" >
    <select class="form-select mb-2" aria-label="Default select example" name="group">
      {% for group in groups %}
          <option value="{{group.id}}">{{group.title}}</option>
      {% endfor %} 
    </select>
    <button class="btn btn-outline-primary w-100" style="display:block;" type="submit">Далее</button>
  </form>
</div>
{% endblock %}