{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <div class="logo-container">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </div>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a class="text-decoration-none" href="/exams/{{ token }}">
          Зачёт&nbsp;
        <a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        / {{ group.title }}
      </li>  
    </ol>
  </div>
</nav>
<div class="d-flex flex-row container mt-3">
  {% if seed == None %}
    <form action="/exams/{{ token }}/{{ group.id }}" method="post" class="w-100">
      <label class="mx-auto mb-2 breadcrumb-item active d-block">Зачёт для группы {{  group.title  }}</label>
      <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Начать</button>
    </form>
  {% elif seed.active == false %}
    <form action="/exams/{{ token }}/{{ group.id }}/score_csv" method="post" class="w-100">
      <label class="mx-auto mb-2 breadcrumb-item active d-block">Зачёт для группы {{  group.title  }}</label>
      <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Получить результаты</button>
    </form>
  {% else %}
    <form action="/exams/{{ token }}/{{ group.id }}" method="post" class="w-100">
      <label class="mx-auto mb-2 breadcrumb-item active d-block">Зачёт для группы {{  group.title  }}</label>
      <button class="btn btn-outline-primary w-100 mb-2 d-block" type="submit">Завершить</button>
    </form>
  {% endif %}
  <div>{{status}}</div>
</div>
{% endblock %}