{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <a class="logo-container text-decoration-none" href="/">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ group.title }}
      </li>
    </ol>
  </div>
</nav>
<div class="container mt-3">
  <h5 class="card-title fw-bold">
    Варианты заданий группы
    <span class="badge alert-secondary" style="font-size: inherit">
      {{ group.title }}
    </span>
  </h5>
  <h6 class="card-subtitle mb-3 text-muted">
    Список вариантов для студентов группы {{ group.title }}.
    Нажмите на соответствующую Вашему варианту ячейку, чтобы перейти к отправке.
  </h6>
  <div class="mb-5" style="overflow-x:auto">
    <table class="table table-sm table-bordered table-hover mb-0" style="min-width:650px">
      <thead>
        <tr>
          <th scope="col" style="width:100px">Вариант</th>
          {% for task in group.tasks %}
            <td scope="col" class="text-center">
              <a class="text-decoration-none"
                 target="__blank"
                 href="{{ task.url }}">
                №{{ task.id + 1 }}
              </a>
            </td>
          {% endfor %}
        </tr>
      </thead>
      <tbody style="border-top: 0px">
        {% for variant in group.variants %}
          <tr>
            <td scope="col" style="border-bottom: 0; width:100px; padding: 0">
              <span class="p-1 d-block">{{ variant.id + 1 }}</span>
            </td>
            {% for status in variant.statuses %}
              <td scope="col" style="border-bottom: 0; padding: 0">
                <a class="d-block text-center text-decoration-none p-1"
                   style="background-color:{{ status.cell_background }}"
                   href="{{ status.submission_url }}">
                  {{ status.code }}
                </a>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
