{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <a class="logo-container text-decoration-none" href="/">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/group/{{ group.id }}">
          {{ group.title }}
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ task.id }}">
          №{{ task.id + 1 }}, вариант №{{ variant.id + 1 }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Уведомление
      </li>
    </ol>
  </div>
</nav>
<div class="container mt-3">
  <h5 class="card-title fw-bold">
    Задача <span class="badge alert-secondary" style="font-size: inherit">№{{ task.id + 1 }}</span>,
    вариант <span class="badge alert-secondary" style="font-size: inherit">№{{ variant.id + 1 }}</span>,
    группа <span class="badge alert-secondary" style="font-size: inherit">{{ group.title }}</span>
  </h5>
  <h6 class="card-subtitle mb-2 mt-2 text-muted">
    Ответ на задание успешно отправлен. Результат проверки вскоре отобразится на странице задания.
  </h6>
  <a class="btn btn-outline btn-primary" href="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ task.id }}">
    Вернуться на страницу задания
  </a>
</div>
{% endblock %}
