{% extends 'layout.jinja' %}
{% block content %}
<div class="container mt-3">
  <h5 class="card-title fw-bold">
    Задача <span class="badge alert-secondary" style="font-size: inherit">№{{ task.id }}</span>,
    вариант <span class="badge alert-secondary" style="font-size: inherit">№{{ variant.id + 1 }}</span>,
    группа <span class="badge alert-secondary" style="font-size: inherit">{{ group.title }}</span>
  </h5>
  <h6 class="card-subtitle mb-2 mt-2 text-muted">
    Ответ на задание успешно отправлен. Результат проверки вскоре отобразится на странице задания.
  </h6>
  <a class="btn btn-outline btn-primary" href="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ task.id }}">
    Вернуться на страницу задания
  </a>
</div>
{% endblock %}
