{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li>
        <a class="logo-container text-decoration-none" href="/">
          <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}" />
          </div>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/group/{{ status.group }}">
          {{ status.group_title }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        №{{ status.task + 1 }}, вариант №{{ status.variant + 1 }}
      </li>
    </ol>
  </div>
</nav>
<div class="container mt-3">
  <h6 class="card-title fw-bold">
    Задача <span class="badge alert-secondary" style="font-size: inherit">№{{ status.task + 1 }}</span>,
    вариант <span class="badge alert-secondary" style="font-size: inherit">№{{ status.variant + 1 }}</span>,
    группа <a href="/group/{{ status.group }}" class="badge alert-primary" style="font-size: inherit; text-decoration: none">{{ status.group_title }}</a>
  </h6>
  <h6 class="card-subtitle mb-2 text-muted">
    Здесь Вы можете отправить ответ на задание №{{ status.task + 1 }} для варианта №{{ status.variant + 1 }}.
  </h6>
  <div class="card-subtitle mb-4 mt-2">
    <a class="text-decoration-none btn btn-primary"
       target="__blank"
       href="{{ status.formulation_url }}">
      Перейти к задаче №{{ status.task + 1 }} варианта №{{ status.variant + 1 }} группы {{ status.group_title }}
    </a>
  </div>
  <div>
    <h6 class="card-title fw-bold">
      Состояние задачи
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">
      В данной секции Вы можете отслеживать состояние отправленного задания.
    </h6>
    {% if status.status == 4 %}
      <div class="mb-4">После отправки выполненного задания Вы сможете отслеживать его состояние здесь.</div>
    {% else %}
      <div class="badge alert-{{ status.color }} mt-2 mb-2" style="font-size: inherit">
        {{ status.name }}
      </div>
      {% if status.error_message is not none and status.error_message %}
        <div>Подробные сведения об ошибке:</div>
        <div class="text-muted mb-2" style="white-space: pre-wrap">{{ status.error_message | e }}</div>
      {% else %}
        <div class="mb-2"></div>
      {% endif %}
    {% endif %}
  </div>
  <div class="card m-auto mt-3 mb-5">
    <form class="card-body" action="{{ status.submission_url }}" method="POST">
      <h6 class="card-title fw-bold mb-0">Добавить новый ответ</h6>
      <div class="text-muted mb-2">
        Во избежание утери данных рекомендуется сохранять отправляемые программы локально.
      </div>
      <div class="form-group mb-2">
        <textarea
          id="code-textarea"
          name="code"
          type="text"
          class="form-control"
          {% if status.disabled %}disabled{%endif%}
          placeholder="Текст программы на Python"
          style="min-height: 250px;font-family: monospace, monospace;"></textarea>
        <small class="form-text text-muted">
          <div>Введите текст программы на языке программирования Python в поле выше.</div>
          <div>В отправляемом коде должна присутствовать функция <code>main</code> и не должно быть какого-либо ввода/вывода.</div>
          <div>Поддерживается использование модулей только из стандартной библиотеки Python.</div>
        </small>
      </div>
      {% if form.code.errors %}
        <ul class="errors">
          {% for error in form.code.errors %}
            <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-md-8">
          <button
            type="submit"
            {% if status.disabled %}disabled{%endif%}
            class="btn btn-primary w-100 d-block">
            Отправить задание на проверку
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% if highlight and not status.disabled %}
  <script src="{{ url_for('static', filename='js/codemirror.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/python.min.js') }}"></script>
  <script type="text/javascript"> 
    CodeMirror.fromTextArea(document.querySelector('#code-textarea'), { mode: 'python', lineNumbers: true, indentUnit: 4 })
  </script>
{% endif %}

{% endblock %}
