{% extends 'layout.jinja' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container">
    <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/">
          Цифровой ассистент преподавателя
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/group/{{ group.id }}">
          Группа {{ group.title }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Задача №{{ task.id + 1 }}, вариант №{{ variant.id + 1 }}
      </li>
    </ol>
  </div>
</nav>
<div class="container mt-3">
  <h5 class="card-title fw-bold">
    Задача <span class="badge alert-secondary" style="font-size: inherit">№{{ task.id + 1 }}</span>,
    вариант <span class="badge alert-secondary" style="font-size: inherit">№{{ variant.id + 1 }}</span>,
    группа <a href="/group/{{ group.id }}" class="badge alert-primary" style="font-size: inherit; text-decoration: none">{{ group.title }}</a>
  </h5>
  <h6 class="card-subtitle mb-2 text-muted">
    Здесь Вы можете отправить ответ на задание №{{ task.id + 1 }} (вариант №{{ variant.id + 1 }}, группа {{ group.title }}).
  </h6>
  <div class="card-subtitle mb-4 mt-2">
    <a class="text-decoration-none btn btn-primary"
       target="__blank"
       href="{{ task_base_url }}/{{ task.id }}/{{ group.title }}.html#вариант-{{ variant.id + 1 }}">
      Перейти к условию задачи №{{ task.id + 1 }} для варианта №{{ variant.id + 1 }} группы {{ group.title }}.
    </a>
  </div>
  <div>
    <h6 class="card-title fw-bold">
      Состояние задачи
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">
      В данной секции Вы можете отслеживать состояние отправленного задания.
    </h6>
    {% if status == None %}
      <div class="mb-4">После отправки выполненного задания Вы сможете отслеживать его состояние здесь.</div>
    {% else %}
      <div>Состояние задания:</div>
      <div class="badge alert-{{ status.status.color }} mt-2 mb-2" style="font-size: inherit">
        {{ status.status.name }}
      </div>
      {% if status.output is not none and status.output %}
        <div>Подробные сведения об ошибке:</div>
        <div class="text-muted mb-2" style="white-space: pre-wrap">{{ status.output | e }}</div>
      {% else %}
        <div class="mb-2"></div>
      {% endif %}
    {% endif %}
  </div>
  <div class="card m-auto mt-3">
    <form class="card-body" action="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ task.id }}" method="POST">
      <h6 class="card-title fw-bold mb-0">Добавить новый ответ</h6>
      <div class="text-muted mb-2">
        Во избежание утери данных рекомендуется сохранять отправляемые программы локально.
      </div>
      <div class="form-group mb-2">
        <textarea
          id="code-textarea"
          name="code"
          type="text"
          class="form-control"
          {% if status and status.status == 2 %}disabled{%endif%}
          placeholder="Текст программы на Python"
          style="min-height: 250px;font-family: monospace, monospace;"></textarea>
        <small class="form-text text-muted">
          <div>Введите текст программы на языке программирования Python в поле выше.</div>
          <div>В отправляемом коде должна присутствовать функция main и не должно быть какого-либо ввода/вывода.</div>
        </small>
      </div>
      {% if form.code.errors %}
        <ul class="errors">
          {% for error in form.code.errors %}
            <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-md-8">
          <button
            type="submit"
            {% if status and status.status == 2 %}disabled{%endif%}
            class="btn btn-primary w-100 d-block">
            Отправить задание на проверку
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript"> 
  CodeMirror.fromTextArea(document.querySelector('#code-textarea'), { mode: 'python', lineNumbers: true })
</script>

{% endblock %}
