{% extends 'user-layout.jinja' %}
{% block content %}
<div class="container mt-3">
  <h5 class="card-title fw-bold">Доступные задачи</h5>
  <h6 class="card-subtitle mb-2 text-muted">
    Список задач, требующих Вашего внимания.
  </h6>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Тип задачи</th>
        <th scope="col">Название задачи</th>
        <th scope="col">Состояние задачи</th>
      </tr>
    </thead>
    <tbody>
      {% for info in tasks %}
        <tr>
          <th scope="row">Т{{ info.task.id }}</th>
          <td>
            <a class="text-decoration-none" href="/tasks/{{ info.task.id }}">
              {{ info.task.name }}
            </a>
          </td>
          <td>
            <span class="badge rounded-pill bg-primary">
              {{ info.status.name }}
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
