{% extends 'user-layout.jinja' %}
{% block content %}
<div class="container mt-3">
  <h5 class="card-title fw-bold">Статистика</h5>
  <h6 class="card-subtitle mb-2 text-muted">
    Статистика решения задач
  </h6>
</div>
{% endblock %}
