{% extends 'layout.jinja' %}
{% block head %}
<style>
  .blurred-table {
    pointer-events: none;
    filter: blur(40px);
    opacity: 0.8;
  }

  .blurred-table-content {
    background-color: #e3ffee;
    min-height: 700px;
  }

  .blurred-table-hint {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .blurred-logo {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    border: solid 2px #AcB9C5;
    padding: 27px 25px 23px 25px;
    top: -230px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .blurred-logo-img {
    width: 90px;
    height: 90px;
  }
</style>
{% endblock %}

{% block header %}
<li class="breadcrumb-item" aria-current="page">
  <a class="text-decoration-none" href="/">
    ЦАП
  </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
  {{ group.title }}
</li>
{% endblock %}

{% block main %}
{% if blocked %}
<h5 class="card-title fw-bold">
  Зачёт ещё не начат
</h5>
<h6 class="card-subtitle mb-2 text-muted mt-2">
  Зачёт для группы {{ group.title }} ещё не начат.
</h6>
{% else %}
<h5 class="card-title fw-bold">
  Варианты заданий группы
  <span class="text-primary" style="font-size: inherit">
    {{ group.title }}
  </span>
</h5>
{% if student and not student.teacher and student.group is none %}
<h6 class="card-subtitle mb-3 text-muted">
  Для начала работы с системой необходимо выбрать группу. Это точно Ваша группа?
</h6>
<div class="alert alert-primary" role="alert">
<b>Внимание!</b> После выбора группы изменить Ваш выбор сможет только преподаватель.
</div>
<a class="btn btn-outline-primary w-100 d-block" href="/group/select/{{ group.id }}">
  Подтвердить выбор группы
</a>
{% else %}
<h6 class="card-subtitle mb-3 text-muted">
  Нажмите на соответствующую Вашему варианту ячейку, чтобы перейти к задаче.
  {% if student.teacher and exam %}
    {% if hide_pending %}
      <a class="text-decoration-none" href="/group/{{ group.id }}">
        Показать нерешённые варианты.
      </a>
    {% else %}
      <a class="text-decoration-none" href="/group/{{ group.id }}/?hide_pending=1">
        Скрыть нерешённые варианты.
      </a>
    {% endif %}
  {% endif %}
</h6>
<div class="position-relative">
  <div style="overflow-x:auto">
    <table class="table table-sm table-bordered table-hover mb-0" style="min-width:650px">
      <thead>
        <tr>
          <th scope="col" style="width:100px">Вариант</th>
          {% for task in group.tasks %}
          {% if task.active %}
          <td scope="col" class="text-center {{ 'fw-bold' if task.is_random }}">
            №{{ task.id + 1 }}
          </td>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody style="border-top: 0px">
        {% for variant in group.variants %}
        <tr>
          <td scope="col" style="border-bottom: 0; width:100px; padding: 0">
            <span class="p-1 d-block" title="{{ variant.earned }}">
              {{ variant.id + 1 }}
            </span>
          </td>
          {% for status in variant.statuses %}
          {% if status.external.active %}
          <td scope="col" style="border-bottom: 0; padding: 0">
            <a class="d-block text-center text-decoration-none p-1 position-relative"
              style="background-color:{{ status.cell_background }}" href="{{ status.submission_url }}">
              {{ status.code }}
              {% if status.earned > 1 %}
              <span class="achievements-counter">
                {{ status.earned }}
              </span>
              {% endif %}
            </a>
          </td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block footer %}
<div class="container mt-3 mb-4">
  <div class="row opacity-75">
    <div class="col-12 col-md-5 col-lg-4 col-xl-3">
      <div class="text-muted">
        <a class="text-decoration-none" href="https://github.com/true-grue/kispython" target="_blank">
          Программирование на языке Python.
        </a>
        <a class="text-decoration-none text-muted" href="https://vk.com/kis_it_mirea" target="_blank">
          Кафедра корпоративных информационных систем, РТУ МИРЭА
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
