{% extends 'layout.jinja' %}
{% block header %}
<li class="breadcrumb-item active" aria-current="page">
  Главная страница
</li>
<style>
.task-card {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.d-flex {
    min-height: 10vh;
}
</style>
{% endblock %}

{% block main %}
<h4 class="card-title fw-bold">
  {{ greeting_message }}!
</h4>
<h6 class="card-subtitle mb-2 text-muted">
  <div class="mt-4">
    <div class="row ">
        <div class="col-md-4">
            <a href="/group/{{ group }}/variant/0/task/0" class="text-decoration-none text-muted">
                <div class="card text-bg-light mb-3" role="button">
                    <div class="card-body  task-card">
                        <h2 class="card-title">Новая задача: №6</h2>
                        <p class="card-text">Задача №6 ЦАП имеет отношение к операциям над множествами.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-8">
            <div class="row mb-3">
                <div class="col-md-6">
                    <a href="/rating/groups" class="text-decoration-none text-muted">
                        <div class="card p-3">
                            <h5 class="position-absolute top-0 start-0 mt-2 ms-3">Рейтинг групп</h5>
                            <div class="d-flex justify-content-left align-items-center mt-3 gap-1">
                                <h3 class="mb-0 me-2">№1</h3>
                                <h4 class="mb-0 me-2">ИКБО-20-23</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6">
                    <a href="/rating" class="text-decoration-none text-muted">
                        <div class="card p-3">
                            <h5 class="position-absolute top-0 start-0 mt-2 ms-3">Рейтинг студентов</h5>
                            <div class="d-flex justify-content-left align-items-center mt-3 gap-1">
                                <h3 class="mb-0 me-2">№2</h3>
                                <h4 class="mb-0 me-2">ИКБО-20-23 Вар. 24</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card tasks-card">
                <div class="card-body">
                    <h5 class="card-title">Ваши задачи</h5>
                    <div class="d-flex flex-wrap gap-2">
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-success">№1</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-success">№2</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-danger">№3</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-success">№4</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-danger">№5</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№6</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№7</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№8</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№9</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№10</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№11</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№12</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№13</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№14</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№15</a>
                        <a href="/group/{{ group }}/variant/0/task/0" class="btn btn-secondary">№16</a>
                    </div>
                    <a href="/group/{{ group }}" target="_blank" class="btn btn-outline-primary w-100 mt-3 w-100 mt-3">
                        Посмотреть таблицу группы
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</h6>
{% endblock %}

{% block footer %}
<div class="container mt-4 mb-4">
  <div class="row opacity-75">
    <div class="col-12 col-md-5 col-lg-4 col-xl-3">
      <div class="text-muted">
        <a class="text-decoration-none" href="https://github.com/true-grue/kispython" target="_blank">
          Программирование на языке Python.
        </a>
        <a class="text-decoration-none text-muted" href="https://vk.com/kis_it_mirea" target="_blank">
          Кафедра корпоративных информационных систем, РТУ МИРЭА
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
