{% extends 'layout.jinja' %}
{% block header %}
<li class="breadcrumb-item active" aria-current="page">
  Цифровой ассистент преподавателя
</li>
<style>
.h-card {
    min-height: 10vh;
}
.poster {
    min-height: 30vh;
    background-color: #E8F4FF;
    color: #fff;
    background-image: url('/static/background.png');
    background-repeat: repeat;
    background-size: auto;
}
</style>
{% endblock %}

{% block main %}
<h4 class="card-title fw-bold">
  {{ greeting_message }}!
</h4>
<h6 class="card-subtitle mb-2 text-muted">
  <div class="mt-4">
    <div class="row">
        {% if group.tasks %}
        <div class="col-md-3 mb-sm-3">
            <a href="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ group.tasks[-1].id }}"
               class="text-decoration-none text-muted">
                <div class="card h-card overflow-hidden card-body align-content-end poster">
                    <div class="card-body align-content-end">
                        <img src="/static/logo.svg" alt="Decoration" class="w-auto mb-3" style="max-height: 70px;">
                        <h4 class="card-title">Новая задача: {{ group.tasks[-1].id + 1 }}</h4>
                        {% if group.tasks[-1].formulation is not none %}
                            <p class="card-text">{{ group.tasks[-1].formulation }}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        <div class="col-md-9">
            <div class="row mb-3">
                <div class="col-6">
                    <div class="card h-card p-3">
                        <h6 class="">Место группы в рейтинге групп</h6>
                        {% if group_place is defined and group_place is not none %}
                        <div class="mt-1 gap-1">
                            <a href="/rating/groups" class="text-decoration-none">
                                <h4 class="fw-bold mb-1 me-2 d-inline-block"
                                    style="background-color:#fff;vertical-align:middle">
                                    {% if group_place == 0 %}🥇
                                    {% elif group_place == 1 %}🥈
                                    {% elif group_place == 2 %}🥉
                                    {% else %}
                                    №{{ group_place + 1 }}{% endif %}
                                </h4>
                            </a>
                            <a href="/group/{{ group.id }}"
                               class="badge alert-primary d-inline-block"
                               style="font-size: inherit; text-decoration: none">
                               {{ group.title }}
                            </a>
                        </div>
                        {% else %}
                        <div class="mt-1 gap-1">
                          Сейчас Вашей группы нет в рейтинге
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="card h-card p-3">
                        <h6 class="">Место в рейтинге студентов</h6>
                        {% if student_place is defined and student_place is not none %}
                        <div class="mt-1 gap-1">
                            <a href="/rating" class="text-decoration-none">
                                <h4 class="fw-bold mb-1 me-2 d-inline-block"
                                    style="background-color:#fff;vertical-align:middle"> 
                                    {% if student_place == 0 %}🥇
                                    {% elif student_place == 1 %}🥈
                                    {% elif student_place == 2 %}🥉
                                    {% else %}
                                    №{{ student_place + 1 }}{% endif %} 🚀
                                </h4>
                            </a>
                        </div>
                        {% else %}
                        <div class="mt-1 gap-1">
                          Сейчас Вас нет в рейтинге
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if variants | length > 1 %}
            <form action="/home/variant_select" method="POST" class="w-100 mt-0 mt-sm-3">
              <div class="row">
                <div class="col-md-8 mb-2">
                  <select name="variant" class="form-select mb-2">
                    {% for v, count in variants %}
                      <option value="{{ v }}" {{ "selected='selected'" if v == variant.id else "" }}>
                        Вариант №{{ v + 1 }} (отправлено программ: {{ count }})
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4 mb-2">
                  <button type="submit" class="btn btn-outline-primary w-100 d-block mb-2">
                    Выбрать вариант
                  </button>
                </div>
              </div>
            </form>
            {% endif %}
            <table class="table table-sm table-bordered table-hover mb-0" style="min-width:650px">
              <thead>
                <tr>
                  <th scope="col" style="width:100px">Вариант</th>
                  {% for task in group.tasks %}
                  <td scope="col" class="text-center">
                    №{{ task.id + 1 }}
                  </td>
                  {% endfor %}
                </tr>
              </thead>
              <tbody style="border-top: 0px">
                <tr>
                  <td scope="col" style="border-bottom: 0; width:100px; padding: 0">
                    <span class="p-1 d-block" title="{{ variant.earned }}">
                      {{ variant.id + 1 }}
                    </span>
                  </td>
                  {% for status in variant.statuses %}
                  <td scope="col" style="border-bottom: 0; padding: 0">
                    <a class="d-block text-center text-decoration-none p-1 position-relative"
                      style="background-color:{{ status.cell_background }}" href="{{ status.submission_url }}">
                      {{ status.code }}
                      {% if status.earned > 1 %}
                      <span class="achievements-counter">
                        {{ status.earned }}
                      </span>
                      {% endif %}
                    </a>
                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            <a href="/group/{{ group.id }}" class="btn btn-outline-primary w-100 mt-3 w-100 mt-3">
                Открыть таблицу группы
            </a>
        </div>
    </div>
</div>
</h6>
{% endblock %}
{% block footer %}
<div class="container mb-4">
  <div class="row opacity-75">
    <div class="col-12 col-md-5 col-lg-4 col-xl-3">
      <div class="text-muted">
        <a class="text-decoration-none" href="https://github.com/true-grue/kispython" target="_blank">
          Программирование на языке Python.
        </a>
        <a class="text-decoration-none text-muted" href="https://vk.com/kis_it_mirea" target="_blank">
          Кафедра корпоративных информационных систем, РТУ МИРЭА
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
