{% extends 'layout.jinja' %}
{% block header %}
<li class="breadcrumb-item active" aria-current="page">
  Главная страница
</li>
<style>
.h-card {
    transition: filter 0.3s ease; /* Плавный переход для фильтра */
}

.h-card:hover {
    filter: brightness(0.9); /* Увеличение яркости на 10% при наведении */
}
.task-card {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.d-flex {
    min-height: 10vh;
}
</style>
{% endblock %}

{% block main %}
<h4 class="card-title fw-bold">
  {{ greeting_message }}!
</h4>
<h6 class="card-subtitle mb-2 text-muted">
  <div class="mt-4">
    <div class="row">
        {% if group.tasks %}
        <div class="col-md-4 mb-sm-3">
            <a href="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ group.tasks[-1].id }}"
               class="text-decoration-none text-muted">
                <div class="card h-card mb-3 overflow-hidden card-body align-content-end"
                     style="min-height: 40vh; background-color: #E8F4FF; color: #fff;
                     background-image: url('/static/background.png'); background-repeat: repeat;
                     background-size: auto;">
                    <div class="card-body align-content-end">
                        <img src="/static/code_icon.svg" alt="Decoration" class="w-auto mb-3" style="max-height: 42px;">
                        <h2 class="card-title">Новая задача: {{ group.tasks[-1].id + 1 }}</h2>
                        {% if group.tasks[-1].formulation is not none %}
                        <p class="card-text">{{ group.tasks[-1].formulation }}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        <div class="col-md-{% if group.tasks %}8{% else %}12{% endif %}">
            <div class="row mb-3">
                <a href="/rating/groups" class="col-6 text-decoration-none text-muted">
                    <div class="card h-card p-3"
                         style="min-height: 100%;">
                        <h6 class="">Рейтинг групп</h6>
                        {% if group_place is defined and group_place is not none %}
                        <div class="d-flex flex-wrap justify-content-left align-items-center mt-1 gap-1">
                            <h3 class="{% if group_place not in [0, 1, 2] %}card{% endif %} p-3 mb-0 me-2"
                                style="background-color: #fff;">
                                {% if group_place == 0 %}🥇
                                {% elif group_place == 1 %}🥈
                                {% elif group_place == 2 %}🥉
                                {% else %}
                                №{{ group_place + 1 }}{% endif %}</h3>
                            <h4 class="mb-0 me-2">{{ group.title }}</h4>
                        </div>
                        {% else %}
                        <div class="d-flex flex-wrap justify-content-left align-items-center mt-1 gap-1">
                        <h5>На данный момент вашей группы нет в рейтинге</h5>
                        </div>
                        {% endif %}
                    </div>
                </a>


                <a href="/rating" class="col-6 text-decoration-none text-muted">
                    <div class="card h-card p-3"
                         style="min-height: 100%;">
                        <h6 class="">Рейтинг студентов</h6>
                        {% if student_place is defined and student_place is not none %}
                        <div class="d-flex flex-wrap justify-content-left align-items-center mt-1 gap-1">
                            <h3 class="{% if student_place not in [0, 1, 2] %}card{% endif %} p-3 mb-0 me-2"
                                style="background-color: #fff;">
                                {% if student_place == 0 %}🥇
                                {% elif student_place == 1 %}🥈
                                {% elif student_place == 2 %}🥉
                                {% else %}
                                №{{ student_place + 1 }}{% endif %}</h3>
                            <h4 class="mb-0 me-2">{{ group.title }} {{ variant.id }}</h4>
                        </div>
                        {% else %}
                        <div class="d-flex flex-wrap justify-content-left align-items-center mt-1 gap-1">
                        <h5>На данный момент вас нет в рейтинге</h5>
                        </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            <form action="/home/variant_select" method="POST" class="w-100 mt-0 mt-sm-3">
              <div class="row">
                <div class="col-md-8 mb-2">
                  <select name="variant" class="form-select mb-2">
                    {% for v in variants %}
                      <option value="{{ v }}" {{ "selected='selected'" if v == variant.id else "" }}>
                        Вариант №{{ v + 1 }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4 mb-2">
                  <button type="submit" class="btn btn-outline-primary w-100 d-block mb-2">
                    Выбрать вариант
                  </button>
                </div>
              </div>
            </form>
            <div class="card tasks-card">
                <div class="card-body">
                    <h5 class="card-title">Ваши задачи</h5>
                    <div>
                        <div class="row row-cols-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-1 g-2">
                            {% for task in group.tasks %}
                                <div class="col">
                                    <a href="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ task.id }}"
                                       class="btn
                                        {% if tasks_statuses[task.id] == 3 %}
                                        btn-danger
                                        {% elif tasks_statuses[task.id] in [2, 5, 6] %}
                                        btn-success
                                        {% elif tasks_statuses[task.id] == 0 %}
                                        btn-primary
                                        {% else %}
                                        btn-outline-secondary
                                        {% endif %} w-100">№{{ task.id + 1 }}
                                        {% if variant.statuses[task.id].earned > 1 %}
                                        <span> | {{ variant.statuses[task.id].earned }}{% endif %}</span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/group/{{ group.id }}" class="btn btn-outline-primary w-100 mt-3 w-100 mt-3">
                        Посмотреть таблицу группы
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</h6>
{% endblock %}

{% block footer %}
<div class="container mt-4 mb-4">
  <div class="row opacity-75">
    <div class="col-12 col-md-5 col-lg-4 col-xl-3">
      <div class="text-muted">
        <a class="text-decoration-none" href="https://github.com/true-grue/kispython" target="_blank">
          Программирование на языке Python.
        </a>
        <a class="text-decoration-none text-muted" href="https://vk.com/kis_it_mirea" target="_blank">
          Кафедра корпоративных информационных систем, РТУ МИРЭА
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
