{% extends 'layout.jinja' %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse container">
            <ol class="breadcrumb bg-light pt-2 pb-2 m-0">
                <li>
                    <a class="logo-container text-decoration-none" href="/">
                        <div class="logo">
                            <img class="logo-img" src="{{ url_for('static', filename='logo.svg') }}"/>
                        </div>
                    </a>
                </li>
                {% block header %} {% endblock %}
            </ol>
            <div class="d-flex gap-3">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dLabel" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {% if student is not none %}
                            {{ student.email | hide }}
                        {% else %}
                            Войти
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dLabel">
                        <li>
                            <a class="dropdown-item d-block" target="__blank" href="https://github.com/true-grue/kispython">
                                <div>Материалы курса 📖</div>
                                <small class="opacity-50">
                                    Программирование на языке Python
                                </small>
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="/rating">Рейтинг студентов</a></li>
                        {% if registration %}
                            {% if student is not none %}
                                <li><a class="dropdown-item" target="__blank" href="https://t.me/kispython">Telegram для оповещений</a></li>
                                <li><a class="dropdown-item" href="/submissions">Отправленные решения</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                            {% else %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/login">Войти</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-3">
        {% block main %} {% endblock %}
    </div>
{% endblock %}
