{% extends 'layout.jinja' %}
{% block content %}
<div class="container mt-3">
  <h5 class="card-title fw-bold">
    Варианты заданий группы <span class="badge alert-secondary" style="font-size: inherit">{{ group.title }}</span>
  </h5>
  <h6 class="card-subtitle mb-2 text-muted">
    Список вариантов для студентов группы {{ group.title }}. Нажмите на соответствующую Вашему варианту ячейку, чтобы перейти к отправке.
  </h6>
  <div class="card">
    <div class="card-body">
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col" style="width: 15%;">Вариант</th>
            {% for task in tasks %}
              <td scope="col" tooltip="{{ task.title }}">
                <span class="badge alert-primary" style="font-size: inherit">№{{ task.id }}</span>
              </td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for variant in variants %}
            <tr>
              <th scope="col" style="width: 15%;border-bottom: 0">
                {{ variant.id }}
              </th>
              {% for task in tasks %}
                <td scope="col" style="border-bottom: 0">
                  <a style="text-decoration:none" href="/group/{{ group.id }}/variant/{{ variant.id }}/task/{{ task.id }}">
                    {{ find_task_status(statuses, task, variant, group) }}
                  </a>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
