{% extends 'layout.jinja' %}
{% block content %}
<div class="container">
  <div class="card w-50 m-auto mt-5">
    <form class="card-body" action="/register" method="POST">
      <h5 class="card-title fw-bold">Регистрация</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Цифровой ассистент преподавателя
      </h6>
      <div class="form-group mb-2">
        <label>Электронная почта</label>
        <input name="email" type="text" class="form-control" placeholder="Электронная почта" value="{{ form.email.data if form.email.data }}">
        <small class="form-text text-muted">Пожалуйста, введите электронную почту.</small>
      </div>
      {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="form-group mb-2">
        <label>Пароль</label>
        <input name="password" type="password" class="form-control" placeholder="Пароль">
        <small class="form-text text-muted">Пожалуйста, введите пароль.</small>
      </div>
      {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="form-group mb-2">
        <label>Повтор пароля</label>
        <input name="password_repeat" type="password" class="form-control" placeholder="Повтор пароля">
        <small class="form-text text-muted">Пожалуйста, повторите пароль.</small>
      </div>
      {% if form.password_repeat.errors %}
        <ul class="errors">
          {% for error in form.password_repeat.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary w-100 d-block">
            Регистрация
          </button>
        </div>
        <div class="col-md-6">
          <a href="/login" class="btn btn-secondary w-100 d-block">
            Уже зарегистрированы?
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
